*{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Helvetica,Tahoma,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",STXihei,STHeiti,Heiti,SimSun,sans-serif;
}
a {
    text-decoration: none;
    color: #666;
    line-height: 1.5;
    cursor: pointer;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
ul{
    list-style: none;
}
/* 版心 */
.wrap{
    margin:0 auto;
    width: 1200px;
}
/* 广告部分 */
.AD{
    width: 100%;
    background-color: #082954;
    height: 60px;
    text-align: center;
    position: relative;
}
.close{
    position: absolute;
    top: 14px;
    right: 44px;
    display: block;
    background-image: url(../images/a.png);
    background-position: -456px -414px;
    background-size: 589px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
/* 头部 */
/* 导航栏 */
.nav{
    width: 100%;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    background-color:  #f4f4f4;
}
.nav-left{
    float: left;
    width: 120px;
    color: #998c59;
    padding-top: 5.5px;
    padding-left: 10px;
}
.nav-right{
    width: 500px;
    float: right;
}
.nav-right li{
    float: left;
    height: 28px;
    padding:0 10px;
}
.nav-right li:first-child{
    padding-left:6px;
}
.nav-right li a{
    color: #999;
}
#red:hover{
    border-bottom: 1px solid #ae0f17;
}

.nav-right li a:hover{
    color: #333;
    border-bottom:1px solid #333 ;
}

#red{
    color: #ae0f17;
}
.nav-right li span{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #dddddd;
    margin-top: 10px ;
}
/* 客户服务 */
.locat{
    position: relative;
}
.customer {
    z-index: 5;
    width: 218px;
    height: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: #fff;
    position: absolute;
    top: 28px;
    right: -1px;
    margin: 15px 0;
    transition: all 0.1s;
}
.customer ul{
    width: 185px;
    height: 68px;
    margin: 0 auto 20px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    display: none;
}
.customer li{
    width: 60px;
    margin: 0px 10px;
    padding: 0px 5px;
}
.customer p{
    color: #999;
    display: none;
}
.nav-right .locat{
    padding: 0 9px;
}
.locat:hover{
    background-color: #fff;
}
.locat:hover .customer{
    height: 166px;
}
.locat:hover .customer ul,.locat:hover .customer p{
    display: block;
}
/* logo */
.logo{
    height: 115px;
    position: relative;
}
.logo a{
    width: 400px;
    height: 90px;
    float: left;
    margin-top: 8px;
}
.logo a img{
    margin-top: 10px;
}
.lo-right{
    float: right;
}
.logo P input{
    width: 284px;
    height: 38px;
    position: absolute;
    top: 37.5px;
    left: 404px;
    font-size: 12px;
    color: #333;
    border:1px solid #ddd;
    outline: none;
    padding-left: 30px;
    border-radius: 4px 0 0 4px;
}
.logo P input::placeholder{
    color: #ccc; 
}
.logo p button{
    width: 76px;
    height: 40px;
    position: absolute;
    top: 37.5px;
    left: 720px;
    vertical-align: bottom;
    color: #fff;
    border-radius: 0 4px 4px 0;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background-image: linear-gradient(-270deg,#da6666 0,#b33636 100%);
}
.logo p i{
    display: block;
    background-image: url(../images/d.png);
    background-position: -193px -346px;
    background-size: 475px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 49.5px;
    left: 412px;
    z-index: 33;
}
/* 标签行 */
.nav-tap{
    height: 44px;
    margin: 0 auto;
    position: relative;
}
.p-list{
    width: 201px;
    height: 44px;
    position: absolute;
}
.nav-tap .list{
    width: 201.5px;
    height: 0;
    position: absolute;
    top: 44px;
    z-index: 88;
    background: #e6e6e6;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.1), -2px 0 4px 0 rgba(0,0,0,.1);
    transition: all 0.2s;
}

.nav-tap .list li{
    display: none;
    padding: 18px 18px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.089);
}
.nav-tap .list li .title{
    color: #4d4d4d;
    float: left;
    margin-right: 4px;
    font-weight: 700;
}
.nav-tap .list li .text{
    color: #666;
    margin-right: 1px;
}
.p-list:hover .list li{
    display: block;
    background-color: #e6e6e6;
}
.list li a:hover{
    text-decoration: underline;
}
.list li:hover{
    /* border-left:2px solid #CCAA7A; */
    background-color: #fff!important;
}
.p-list:hover .list{
    height: 435px;
}
.nav-tap p{
    width: 170px;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    background-image: linear-gradient(269deg,#b34747 1%,#cc5252 98%);
    background-color: #b32424;
    float: left;
    color: #fff;
    font-size: 14px;
}
.nav-tap p i{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-right: -6px;
    background: url(../images/a.png) -280px -325px no-repeat;
}
.hide{
    width: 998px;
    height: 436px;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 201px;
    display: none;
    box-shadow: 4px 0 8px 0 rgba(0,0,0,.1);
    background-color: #fff;
}
.hide ul{
    overflow: hidden;
}
.hide li{
    border: 1px solid rgba(0, 0, 0, 0.253);
    width: 128px;
    height: 48px;
    background-color: #fff;
    float: left;
    margin-left: 27px;
    margin-top: 20px;
}
.hide li img{
    width: 128px;
    height: 48px;
}
.list li:hover .hide{
    display: block;
}
.nav-tap .nav-tap-right{
    width: 750px;
    height: 41px;
    margin-left: 234px;
}
.nav-tap .nav-tap-right li{
    height: 37px;
    line-height: 40px;
    float: left;
    margin: 0px 12px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #333;
}
.nav-tap .nav-tap-right li a{
    color: #000;
    font-size: 14px;
}
.nav-tap .nav-tap-right li:hover{
    border-bottom: 3px solid #cc5252;
}
/* 头部结束 */

/*头部下面 首页标题行*/
.banner {
    width: 100%;
}
.banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
/*头部下面 首页标题行结束*/

/* 内容区左侧轮播图 */
.list-left-area{
    width: 210px;
    height:auto;
    float: left;
    /* overflow: auto; */
}
.swiper-container {
    width: 210px;
    height: 400px;
    float: left;
    overflow: hidden;
}
.swiper-pagination{
    position: absolute;
    bottom: 5px;left: 100px;
}

/* three */
.moulde_side{
    width: 210px;
    height:auto;
    padding-top: 20px;
}
.history_tit {
    color: #666;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    background-color: #f1f1f1;
    padding-left: 12px;
}

 .history_goods ul li a .p3 {
    margin-top: 6px;
    color: #999;
}

.brows_history .history_goods {
    padding: 28px 15px 0;
}
.brows_history .moudle_con {
    padding-top: 20px;
    color: #959595;
    line-height: 20px;
    border: 1px solid #eee;
}
.brows_history .history_goods ul li a {
    display: block;
    margin-bottom: 28px;
    overflow: hidden;
}
.brows_history .history_goods ul li a .p1 {
    position: relative;
    text-align: center;
    background-color: #fff;
}
.brows_history .history_goods ul li a .p1>img {
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
}
.brows_history .history_goods ul li a .p2 {
    color: #333;
    margin: 5px 0;
}
.brows_history .history_goods ul li a .p2 .price-1 {
    font-weight: 700;
}
.brows_history .history_goods ul li a .p2 .price-2 {
    text-decoration: line-through;
    color: #ccc;
}
.brows_history .history_goods ul li a .p3 {
    color: #999;
}





/* 内容区右边 */
.W_list_wrap {
    width: 1200px;
    margin: 0 auto;
}
.list-right {
    margin: 0 0 0 20px;
    width: 968px;
}
.fl {
    float: left;
}
.list-right .page-1 .find {
    position: relative;
    background: #fafafa;
    min-width: 22px;
    line-height: 22px;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.list-right .page-1 .search-content {
    padding: 5px 80px 5px 12px;
}
.h {
    display: none !important;
}
.list-right .page-1 .find .cancel_selection {
    color: #999;
    position: absolute;
    top: 7px;
    right: 10px;
    display: block;
}
.list-right .page-1 .find a {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    border: 1px solid #dfdfdf;
    padding: 0 3px;
    margin-left: 5px;
    color: #313131;
    box-sizing: border-box;
    background-color: #fff;
}
.list-right .page-1 .search_filter_line {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}
.list-right .page-1 .search_filter_line .srh_catalog {
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #eee;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_title {
    width: 56px;
    padding: 0 12px;
    font-weight: 700;
    color: #666;
    background-color: #fafafa;
    height: 100%;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_right {
    position: relative;
    width: 750px;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_right a.all-types {
    font-size: 12px;
    color: #fff;
    background-color: #333;
    padding: 2px 4px;
    border-radius: 2px;
    display: inline-block;
    margin: 9px 0 0 14px;
}
.list-right .page-1 .search_filter_line {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}.list-right .page-1 .search_filter_line .srh_catalog {
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #eee;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_title {
    width: 56px;
    padding: 0 12px;
    font-weight: 700;
    color: #666;
    background-color: #fafafa;
    height: 100%;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_right {
    position: relative;
    width: 750px;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_right span {
    font-size: 12px;
    color: #666;
    padding: 2px 4px;
    margin: 9px 0 0 14px;
    line-height: 22px;
    cursor: pointer;
}
.list-right .page-1 .search_filter_line {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}
.list-right .page-1 .search_filter_line .srh_catalog2 {
    max-height: 136px;
    overflow: hidden;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_title {
    width: 56px;
    padding: 0 12px;
    font-weight: 700;
    color: #666;
    background-color: #fafafa;
    height: 100%;
}   
.list-right .page-1 .search_filter_line .srh_catalog .srh_right {
    position: relative;
    width: 750px;
}
.list-right .page-1 .search_filter_line .srh_catalog2 .srh_right {
    padding-bottom: 8px;
}
.list-right .page-1 .search_filter_line .srh_catalog2 .srh_right li {
    width: 110px;
    margin: -6px 0 0 14px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_right span {
    font-size: 12px;
    color: #666;
    padding: 2px 4px;
    margin: 9px 0 0 14px;
    line-height: 22px;
    cursor: pointer;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_more_btn {
    position: absolute;
    right: 13px;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_more_btn a {
    display: inline-block;
    width: 50px;
    background: #f0f0f0;
    border: 1px solid #ececec;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    color: #666;
}
.list-right .page-1 .search_filter_line {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}
.list-right .page-1 .search_filter_line .srh_catalog {
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #eee;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_title {
    width: 56px;
    padding: 0 12px;
    font-weight: 700;
    color: #666;
    background-color: #fafafa;
    height: 100%;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_right {
    position: relative;
    width: 750px;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_right span {
    font-size: 12px;
    color: #666;
    padding: 2px 4px;
    margin: 9px 0 0 14px;
    line-height: 22px;
    cursor: pointer;
}
.list-right .page-1 .search_filter_line {
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
}
.list-right .page-1 .search_filter_line .srh_catalog {
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #eee;
}
.list-right .page-1 .search_filter_line .srh_catalog .srh_title {
    width: 56px;
    padding: 0 12px;
    font-weight: 700;
    color: #666;
    background-color: #fafafa;
    height: 100%;
}
.list-right .sort_list {
    position: relative;
    border-bottom: 1px solid #eee;
    margin-top: 21px;
}
.list-right .sort_list .sort_con01 {
    display: inline-block;
    vertical-align: top;
}
.list-right .sort_list .sort_con01 ul li {
    display: block;
    float: left;
    padding: 0 16px;
    height: 36px;
    text-align: center;
}
.list-right .sort_list .sort_con01 a:hover, .list-right .sort_list .sort_con01 li.on a {
    color: #cc9952;
    font-weight: 700;
    border-bottom: 3px solid #cc9952;
}
.list-right .sort_list .sort_con01 a {
    position: relative;
    line-height: 34px;
    display: inline-block;
}
.list-right .commodity {
    margin-top: 20px;
}
.list-right .commodity a {
    padding: 12px 15px 0 15px;
    margin: 0 8px 40px 0;
    min-height: 375px;
    height: 387px;
    display: block;
}
.list-right .commodity a .img img {
    border-radius: 12px;
}
.list-right .commodity a .price {
    margin-top: 8px;
    line-height: 18px;
}
.list-right .commodity a .price .p1 {
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.list-right .commodity a .price .p2 {
    font-size: 12px;
    color: #ccc;
    text-decoration: line-through;
    margin-left: 3px;
}
.list-right .commodity a .title {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    width: 204px;
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.list-right .commodity a .tag {
    margin-top: 8px;
}
.list-right .commodity a:nth-child(4n) {
    margin-right: 0;
}

/* 中间内容区下面引导数字 */
.list-right .list_page {
    text-align: center;
    padding: 30px 0 40px;
}
.list-right .list_page span {
    margin: 0 20px;
    font-size: 15px;
    color: #666;
    line-height: 18px;
    cursor: pointer;
}
.list-right .list_page span:hover{
    color: orangered;
}























/* 客服 */
.service{
    width: 57px;
    height: 66px;
    position: fixed;
    top: 220px;
    right: 0;
    z-index: 4;
}
.service i{
    display: block;
    background-image: url(../images/d.png);
    background-position: -142px -38px;
    background-size: 475px;
    width: 57px;
    height: 66px;
}
/* 底部 */
.W_pt_footer {
    width: 100%;
    background: #333;
    float: left;
}
.W_pt_footer .pt_footer_ribbon {
    width: 100%;
    height: 70px;
    background: #fff;
    border-top: 1px solid #eee;
    cursor: pointer;
}
.W_pt_footer .pt_footer_copyright .footer_wrap, .W_pt_footer .pt_footer_inst, .W_pt_footer .pt_footer_ribbon .footer_ribbon_a {
    width: 1200px;
    margin: 0 auto;
}
.W_pt_footer .pt_footer_ribbon .footer_ribbon_a a {
    display: block;
    float: left;
    width: 240px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}
.W_pt_footer .pt_footer_ribbon .footer_ribbon_a a span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.icon-a-rib01 {
    background-image: url(../images/a.png);
    background-position: -409px -357px;
    background-size: 589px;
    width: 38px;
    height: 38px;
}
.icon-a-rib02 {
    background-image: url(../images/a.png);
    background-position: 0 -414px;
    background-size: 589px;
    width: 38px;
    height: 38px;
}
.icon-a-rib03 {
    background-image: url(../images/a.png);
    background-position: -361px -357px;
    background-size: 589px;
    width: 38px;
    height: 38px;
}
.icon-a-rib04 {
    background-image: url(../images/a.png);
    background-position: -313px -357px;
    background-size: 589px;
    width: 38px;
    height: 38px;
}
.icon-a-rib05 {
    background-image: url(../images/a.png);
    background-position: -265px -357px;
    background-size: 589px;
    width: 38px;
    height: 38px;
}
.W_pt_footer .pt_footer_inst {
    padding: 44px 0 80px;
}
.W_pt_footer .pt_footer_inst .inst_middle .on {
    color: #ccaa7a;
}
.W_pt_footer .pt_footer_inst .inst_left .p1 {
    font-size: 14px;
    color: #ccaa7a;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 12px;
}
.W_pt_footer .pt_footer_inst .inst_left .p2 {
    font-size: 24px;
    line-height: 31px;
    color: #ccaa7a;
}
.W_pt_footer .pt_footer_inst .content_number .out_line .p1, .W_pt_footer .pt_footer_inst .content_number .out_line .p2 {
    color: #999;
    line-height: 16px;
    font-size: 12px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.W_pt_footer .pt_footer_inst .out_line .p1 {
    font-weight: 400;
}
.W_pt_footer .pt_footer_inst .inst_left .p1 {
    font-size: 14px;
    color: #ccaa7a;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 12px;
}
.W_pt_footer .pt_footer_inst .inst_left .p4 a {
    display: block;
    width: 132px;
    height: 36px;
    line-height: 36px;
    color: #999;
    font-weight: 700;
    text-align: center;
    border: 1px solid #999;
    border-radius: 100px;
    margin-top: 16px;
}
.W_pt_footer .pt_footer_inst .inst_left .p4 a:hover{
    background-color: #CCAA7A;
    color: #fff;
}
.W_pt_footer .pt_footer_inst .inst_middle {
    width: 520px;
    margin-left: 122px;
}
.W_pt_footer .pt_footer_inst .inst_middle dl {
    width: 80px;
    float: left;
    margin-right: 24px;
}
.W_pt_footer .pt_footer_inst .inst_middle dl dt {
    font-size: 14px;
    color: #ccc;
    font-weight: 700;
    margin-bottom: 13px;
}
.W_pt_footer .pt_footer_inst .inst_middle dl dd a {
    display: block;
    line-height: 28px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.W_pt_footer .pt_footer_inst .inst_middle dl dd a:hover{
    color: #fff;
}
.W_pt_footer .pt_footer_inst .footer_ggt {
    position: relative;
    width: 113px;
    height: 130px;
    margin-left: 187px;
    margin-top: -5px;
    overflow: hidden;
}
.W_pt_footer .pt_footer_copyright {
    width: 100%;
    text-align: center;
}
.W_pt_footer .pt_footer_copyright .wb_link a {
    color: #999;
    margin: 0 10px;
    line-height: 20px;
}
.W_pt_footer .pt_footer_copyright .wb_link a:hover{
    color: #fff;
}
.W_pt_footer .pt_footer_copyright .wb_link .more_link {
    font-size: 14px;
    cursor: pointer;
    color: #999;
    display: inline-block;
    margin-top: 3px;
}
.W_pt_footer .pt_footer_copyright .wb_link .more_link {
    font-size: 14px;
    cursor: pointer;
    color: #999;
    display: inline-block;
    margin-top: 3px;
}
.W_pt_footer .pt_footer_copyright .wb_link a {
    color: #999;
    margin: 0 10px;
    line-height: 20px;
}
.W_pt_footer .pt_footer_copyright .wb_corp {
    margin-top: 43px;
    margin-bottom: 40px;
    color: #999;
    line-height: 18px;
}
.W_pt_footer .pt_footer_copyright .wb_corp p {
    color: #999;
    margin-bottom: 10px;
}
.W_pt_footer .pt_footer_copyright .wb_filing {
    width: 100%;
    background-color: #eee;
    padding: 24px 0 41px;
}
.W_pt_footer .pt_footer_copyright .wb_certificate a {
    display: inline-block;
    margin: 0 10px;
    width: 98px;
    height: 38px;
    overflow: hidden;
}
.W_pt_footer .pt_footer_copyright .wb_certificate a img {
    width: 100%;
}